{% extends 'layout.html.twig' %}

{% block title %}Home Pillow-Interactive{% endblock %}

{% block body %}
 <div id="parallax-container" class="parallax-container">
    <div class="parallax-content">
        <div  class="swiper-container">
            <div class="swiper-wrapper">
                {% for game in games %}
                    {% set hasTitleImage = false %}  
                    {% for image in game.images %}
                        {% if image.title %} 
                        {% set hasTitleImage = true %}
                             <div class="swiper-slide">
                                <img src="{{ asset(image.link) }}" alt="Slide Image for {{ game.name }}"> 
                                <div class="slide-text">
                                    <h3>{{ game.name }}</h3>
                                    <p>{{ game.description }}</p>
                                </div>
                            </div>
                        {% endif %} 
                    {% endfor %}
                    {% if not hasTitleImage %}
                        <div class="swiper-slide">
                            <div class="slide-text-no-image">
                                <h3>{{ game.name }}</h3>
                                <p>{{ game.description }}</p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div> 
            <!-- add boutons if necessary -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>    
    </div>
</div>
{% endblock %}
