{% extends 'layout.html.twig' %}

{% block title %}NewsLetters{% endblock %}

{% block body %}
<div class="relative-container">
    <div class="container">
        <div class="row">
        <figure class="text-center">
            <blockquote class="blockquote">
                 <h1>Newsletter</h1>
            </blockquote>
        </figure>
            <table class="table table-striped table-dark">
                <thead class="text-center">
                    <tr>
                        <th>Id</th>
                        <th>e-mail</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                {% for news_letter in news_letters %}
                    <tr>
                        <td>{{ news_letter.id }}</td>
                        <td>{{ news_letter.email }}</td>
                        <td>
                            <a href="{{ path('app_news_letters_delete', {'id': news_letter.id}) }}" class="btn btn-danger">{{ 'Delete'|trans }}</a> 
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}

