{% extends 'layout.html.twig' %}

{% block title %}{{'Edit Platfom'|trans}}{% endblock %}

{% block body %}
    <div class="relative-container">
        <div class="container">
            <div class="row">
                <figure class="text-center">
                    <blockquote class="blockquote">
                        <h1>{{ 'New Platform'|trans }}</h1>
                        <a href="{{ path('app_plate_forms_index') }}" class="btn btn-warning">{{ 'back to list'|trans }}</a>
                    </blockquote>
                </figure>
            </div>
            {{ include('plate_forms/_form.html.twig', {'button_label': 'Update'}) }}
            {% if is_granted('ROLE_SUPER_ADMIN') %}
            {{ include('plate_forms/_delete_form.html.twig') }}
            {% endif %}
        </div>
    </div>
{% endblock %}
