{% extends 'layout.html.twig' %}

{% block title %}{{ 'Platforms list'|trans }}{% endblock %}

{% block body %}
    <div class="relative-container">
    <div class="container">
        <div class="row">
        <figure class="text-center">
            <blockquote class="blockquote">
                 <h1>{{ 'Platforms list'|trans }}</h1>
                <a href="{{ path('app_plate_forms_new') }}" class="btn btn-success">{{ 'Add'|trans }}</a>
            </blockquote>
        </figure>
            <table class="table table-striped table-dark">
                <thead class="text-center">
                    <tr>
                        <th>Id</th>
                        <th>{{ 'Name'|trans }}</th>
                        <th>{{ 'Picture'|trans }}</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                {% for plate_form in plate_forms %}
                    <tr>
                        <td>{{ plate_form.id }}</td>
                        <td>{{ plate_form.name }}</td>
                        <td>
                            <img src="{{ asset(plate_form.link) }}" alt="{{ plate_form.name }}" style="max-width: 100px; height: auto;">
                             {{ plate_form.link }}
                        </td>
                        <td>
                            <div class="action-buttons">
                                <a href="{{ path('app_plate_forms_show', {'id': plate_form.id}) }}" class="btn btn-primary">{{ 'Show'|trans }}</a>
                                <a href="{{ path('app_plate_forms_edit', {'id': plate_form.id}) }}" class="btn btn-warning">{{ 'Edit'|trans }}</a>
                                {{ include('plate_forms/_delete_form.html.twig', {'plate_form': plate_form}) }}
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
