{# {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }} #}

{{ form_start(form) }}
<table class="table table-striped table-dark">
    <tr>
        <td>{{ form_label(form.title) }}</td>
        <td>{{ form_widget(form.title) }}</td>
        <td>{{ form_label(form.text) }}</td>
        <td>{{ form_widget(form.text) }}</td>
    </tr>
</table>
<button class="btn btn-success">{{ button_label|default('Save'|trans) }}</button>
{{ form_end(form) }}
