{% extends 'layout.html.twig' %}

{% block title %}Edit Studio{% endblock %}

{% block body %}
<div class="relative-container">
    <div class="container">
        <div class="row">
            <figure class="text-center">
                <blockquote class="blockquote">
                    <h1>{{ 'New Platform'|trans }}</h1>
                    <a href="{{ path('app_studio_index') }}" class="btn btn-warning">{{ 'back to list'|trans }}</a>
                </blockquote>
            </figure>
        </div>
            {{ include('studio/_form.html.twig', {'button_label': 'Update'}) }}
            {{ include('studio/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
