{% extends 'layout.html.twig' %}

{% block title %}Games index{% endblock %}

{% block body %}
<div class="relative-container">
    <div class="container">
        <div class="row">
        <figure class="text-center">
            <blockquote class="blockquote">
                 <h1>{{ 'Games list'|trans }}</h1>
                <a href="{{ path('app_games_new') }}" class="btn btn-success">{{ 'Add'|trans }}</a>
            </blockquote>
        </figure>
            <table class="table table-striped table-dark">
                <thead class="text-center">
                    <tr>
                        <th>Id</th>
                        <th>{{ 'Name'|trans }}</th>
                        <th>Description</th>
                        <th>{{ 'Platform'|trans }}</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                {% for game in games %}
                    <tr>
                        <td>{{ game.id }}</td>
                        <td>{{ game.name }}</td>
                        <td>{{ game.description }}</td>
                        <td>
                            {% for platform in game.platform %}
                                {{ platform.name }}{% if not loop.last %} / {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            <div class="action-buttons">
                                <a href="{{ path('app_games_show', {'id': game.id, 'name': game.name}) }}" class="btn btn-success">{{ 'Show'|trans }}</a>
                                <a href="{{ path('app_games_edit', {'id': game.id, 'name': game.name}) }}" class="btn btn-warning">{{ 'Edit'|trans }}</a>
                                {{ include('games/_delete_form.html.twig', {'game': game}) }}
                            </div>
                        </td> 
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
