{% extends 'layout.html.twig' %}

{% block title %}Games index{% endblock %}

{% block body %}
<div class="row">
    <div class="admin-container">
        <blockquote class="blockquote text-center">
            <h1>Games index</h1>
            <a href="{{ path('app_games_new') }}" class="btn btn-success">{{ 'New game'|trans }}</a>
        </blockquote>

        <table class="table table-striped table-dark">
            <thead class="text-center">
                <tr>
                    <th class="col">Id</th>
                    <th class="col">{{ 'Game\'s name'|trans }}</th>
                    <th class="col">Description</th>
                    <th class="col">actions</th>
                </tr>
            </thead>
            <tbody>
            {% for game in games %}
                <tr class="text-center">
                    <th scope="row">{{ game.id }}</th>
                    <td>{{ game.name }}</td>
                    <td>{{ game.description }}</td>
                    <td>
                        <a href="{{ path('app_games_show', {'id': game.id, 'name': game.name}) }}" class="btn btn-success">{{ 'Show'|trans }}</a>
                        <a href="{{ path('app_games_edit', {'id': game.id, 'name': game.name}) }}" class="btn btn-warning">{{ 'Edit'|trans }}</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>  
</div>
{% endblock %}
