{% extends 'layout.html.twig' %}

{% block title %}{{'New game'|trans}}{% endblock %}

{% block body %}
 <h1>{{'New game'|trans}}</h1>
    <div class="relative-container">
        <div class="container">
            <div class="row">
            <figure class="text-center">
                <blockquote class="blockquote">
                    <h1>{{ 'New game'|trans }}</h1>
                    <a href="{{ path('app_games_index') }}" class="btn btn-warning">{{ 'back to list'|trans }}</a>
                </blockquote>
            </figure>
            {{ include('games/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
