{% extends 'layout.html.twig' %}

{% block title %}{{ game.name }}{% endblock %}

{% block body %}
<div class="row">
    <div class="admin-container">
        <blockquote class="blockquote text-center">
            <h2>{{ game.name }}</h2>
            <p>{{ game.descriptio }}</p>
        </blockquote>
        <div class="row">
            <div class="col">
                <div class="page-container">
                    {% for image in game.images %}
                        {% if image == true %}
                            
                        {% endif %}
                        <div class="section" style="background-image: url('{{ asset(image.link) }}');">
                            <div class="text-container {{ loop.index is odd ? 'left' : 'right' }}">
                                <p>{{ image.texts }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        
    </div>
</div>
    <a href="{{ path('app_games_index') }}">back to list</a>

    <a href="{{ path('app_games_edit', {'id': game.id}) }}">edit</a>

    {{ include('games/_delete_form.html.twig') }}
{% endblock %}
