{% extends 'base.html.twig' %}

{% block header %}
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container-fluid">
        <div>
            <a class="navbar-brand" href="{{asset('home')}}">
            <img src="{{asset('images/logo-transparent.png')}}" alt="Logo" class="logo-image">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{asset('home')}}">{{ 'Home'|trans }}</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ 'Games'|trans }}
                </a>
                <ul class="dropdown-menu">
                    {% for game in games %}
                        <li><a class="dropdown-item" href="{{ path('app_games_show', {id: game.id, name: game.name|slug}) }}">{{ game.name }}</a></li>
                    {% else %}
                        <li><a class="dropdown-item" href="#">{{ 'No games available'|trans }}</a></li>
                    {% endfor %}
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ path('app_studio_index') }}">Studio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" id="contactPopover" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="netherion-info@cybix-technology.com">contact</a>
              </li>
              {% if is_granted('ROLE_ADMIN') %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ 'Dashboard'|trans }}
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">{{ 'Administrators'|trans }}</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{{ path('app_images_index') }}">{{ 'Add Images'|trans }}</a></li>
                    <li><a class="dropdown-item" href="{{ path('app_plate_forms_index') }}">{{ 'Add Plate-form'|trans }}</a></li>
                    <li><a class="dropdown-item" href="{{ path('app_games_new') }}">{{ 'New Game'|trans }}</a></li>
                    <li><a class="dropdown-item" href="{{ path('app_studio_new') }}">{{ 'New Studio page'|trans }}</a></li>
                    <li><a class="dropdown-item" href="{{ path('app_news_letters_index')}}">{{ 'Newsletter'|trans }}</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{{ path('app_register') }}">{{ 'New Admin'|trans }}</a></li>
                    <li><a class="dropdown-item" href="{{ path('app_logout') }}">{{ 'Logout'|trans }}</a></li>
                </ul>
              </li>
              {% endif %}
          </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block footer %}
  <div class="container bg-dark footer-top">
    <div class="row">
      <div class="col margin-footer-col">
      <a href="{{ path('app_news_letters_new') }}">{{ 'Subscribe to the news letter'|trans }}</a>
      </div>
      <div class="col margin-footer-col">
        <ul claas="list">
          <li class=""><a href="mailto:netherion-info@cybix-technology.com" id="contactPopover" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="netherion-info@cybix-technology.com">Contact</a></li>
          {# <li class=""><a href="mailto:netherion-info@cybix-technology.com">Contact</a></li> #}
          <li class=""><a href="{{ path('conditions') }}">{{ 'Terms of Service'|trans }}</a></li>
          <li class=""><a href="{{ path('confidentialities') }}">{{ 'Privacy Policy'|trans }}</a></li>
        </ul>
      </div>
    </div>
    <div clas="row">
      <div class="text-center">
        <div class="col">   
        </div>
        <div class="col">
          <p><a href="{{ path('app_login') }}"><i class="fa-regular fa-copyright"></a></i> Netherion Game. Tous droits réservés.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% endblock %}