{% extends 'base.html.twig' %}

{% block header %}
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{asset('home')}}">
         <img src="{{asset('images/logo-transparent.png')}}" alt="Logo" class="logo-image">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{asset('home')}}">{{ 'Home'|trans }}</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ 'Games'|trans }}
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Jeux_1</a></li>
                    <li><a class="dropdown-item" href="#">Jeux_2</a></li>
                    <li><a class="dropdown-item" href="#">Jeux_3</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Studio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">contact</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ 'Dashboard'|trans }}
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">{{ 'Administrators'|trans }}</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{{ path('app_images_new') }}">{{ 'Add Images'|trans }}</a></li>
                    <li><a class="dropdown-item" href="{{ path('app_games_new') }}">{{ 'New Game'|trans }}</a></li>
                    <li><a class="dropdown-item" href="#">{{ 'News Letter'|trans }}</a></li>
                </ul>
              </li>
          </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block footer %}
  <div class="container bg-dark footer-top">
    <div class="row">
      <div class="col margin-footer-col">
      <a href="{{ path('app_news_letters_new') }}">{{ 'Subscribe to the news letter'|trans }}</a>
      </div>
      <div class="col margin-footer-col">
        <ul claas="list">
          <li class=""><a href="mailto:contact@pillow-interactive.fr">contact@pillow-interactive.fr</a></li>
          <li class=""><a href="#">Conditions d'utilisation</a></li>
          <li class=""><a href="#">Politique de confidentialité</a></li>
          <li class=""><a href="#">Conditions d'utilisation</a></li>
        </ul>
      </div>
    </div>
    <div clas="row">
      <div class="text-center">
        <div class="col">   
        </div>
        <div class="col">
          <p><i class="fa-regular fa-copyright"></i> Pillow Interactive. Tous droits réservés.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}