{{ form_start(form) }}
<table class="table table-striped table-dark">
    <tr>
        <td>{{ form_label(form.name) }}</td>
        <td>{{ form_widget(form.name) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.link) }}</td>
        <td>{{ form_widget(form.link) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.title) }}</td>
        <td>{{ form_widget(form.title) }}</td>
     </tr>
    <tr>
        <td>{{ form_label(form.game) }}</td>
        <td>{{ form_widget(form.game) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.text) }}</td>
        <td>{{ form_widget(form.text) }}</td>
    </tr>
</table>
<button class="btn btn-success">{{ button_label|default('Save'|trans) }}</button>
{{ form_end(form) }}