{% extends 'layout.html.twig' %}

{% block title %}{{'Edit Images'|trans}}{% endblock %}

{% block body %}
    <h1>{{'Edit Images'|trans}}</h1>
    <div class="relative-container">
        <div class="container">
            <div class="row">
                <figure class="text-center">
                    <blockquote class="blockquote">
                        <h1>{{ 'Images list'|trans }}</h1>
                        <a href="{{ path('app_images_index') }}" class="btn btn-warning">{{ 'back to list'|trans }}</a>
                    </blockquote>
                </figure>
            {{ include('images/_form.html.twig', {'button_label': 'Update'|trans}) }}
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                {{ include('images/_delete_form.html.twig') }}
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
